html {
    background-color: antiquewhite;
}

body {
    margin: 5vh 5vw 5vh;
}

img {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    max-width: 300px;
}

p, li {
    font-size: 18px;
}

h1 {
    font-size: 40px;
    text-align: center;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 18px;
}

th, td {
    padding: 5px;
    width: 12vw;
}

th {
    background-color: #ffdcad;
}

table {
    float: left
}

.fadeimg {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeimg2 {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#tableandlist {
    clear: left;
}

#textrightofimage {
    margin-left: 350px;
}

#regretlist {
    margin-left: 52vw;
    padding-left: 20px;
}

#keshi, #dprian, #shymartin, #slchld, #lauv {
    font-weight: bold;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}